<div id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path('banner_y0cptu')%>); display:flex; justify-content: center; align-items: center;">
  <div class="search-form wider">
    <h2>Find your unique place to stay...</h2>
    <br>
    <%= render 'shared/search-form' %>
  </div>
</div>

