<div id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path('banner_rmshg2')%>);">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="container forms">
        <h1>Add a new chalet</h1>
        <%= render "chalets/form" %>
      </div>
    </div>
  </div>
</div>
