.booking-card-header{
  font-weight: bolder;
}

.booking-info{
  border: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.1);
  padding: 30px;
  height: 400px;
  margin-bottom: 10px;
  background-color: white;
}

.dashboard-header {
  padding: 5px 5px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 1, 0.05);
  box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.1);
}
