.testt {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 1px 5px rgb(60,60,60);
  border: .5px solid rgb(200,200,200);
}

.carousel {
  position: relative;
  .carousel-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    padding: 10px;
    background: rgba(60,60,60,0.2);
    text-align: right;
  }
}
