.title-container{
  margin-top: 40px;
  text-align: center;
  // padding: 20px 0;
}

.chalet-container{
  display: grid;
  // text-align: center;
  margin: auto;
  padding-top: 3%;
  width: 95%;
}

.my-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2%;
}
