.chalet-container{
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 40px;
  width: 95%;
  height: 100%;
}

.my-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4px 2%;
}

.map-index{
  padding-left: 5%;
  margin-left: 20px;
  height: calc(100vh - 55px);
  width: 100%;
  position: sticky;
  top: 0px;
}


.index-title{
  padding: 30px 0px;
  color: #282828;
}

