.chalet-cards {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  a {
    color: rgb(20,20,20);
    transition: transform .5s;
  }
  a:hover {
    text-decoration: none;
    transform: scale(1.01);
  }
}

.chalet-card {
  height: 400px;
  width: 350px;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.1);
  background-color: white;
}

.chalet-card-image {
  background-color: yellow;
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
  .beds-and-guests {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: black;
    display: flex;
    flex-direction: column;
  }
}

.chalet-card-description {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
